.buton button{
    width: 140px;
    height: 30px;
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    font-family: var(--font-family);
    color: #fff;
    font-weight: 700;
    background:linear-gradient(90deg, rgba(23,190,0,1) 1%, rgba(0,227,216,1) 100%); 
    cursor: pointer;

}

.buton :hover{
    background: var(--background-gradient); 
}

@media screen and (max-width: 550px) {
    .buton button{
        height: 40px;
        width: 60%;
    }
}