.header{
    width: 100%;
    background: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: row;
    padding: 0 6rem;
    height: 740px;
    position: relative;
    background-image: url("../../assets/bg-intro-desktop.svg");
    background-position: 270% 73%;
    background-repeat: no-repeat;

}



.header__info{
    width: 38%;
    font-family: var(--font-family);
    padding-left: 3rem;
    margin-top: 8rem;
    
}

.header__info p{
    color:hsl(233, 8%, 62%);
    font-size: 18px;
    margin-bottom: 2rem;


}

.header__info h1{
    color:hsl(233, 26%, 24%);
    font-size: 45px;
    margin-top: 4rem;
    margin-bottom: 1rem;

}

.header__image{
    position: absolute;
    top:-10%;
    right: 0;
    z-index: 10;

}

.header__image-2{
    position: relative;
    z-index: 5;
    width: 1271px;
    height: 1034px;
    overflow: hidden;
    right: -30%
    
}


.header__image-cuadrados{
    position: absolute;
    z-index: 5;
    top: -30%;
    right: -27%;
}

.image-container{
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 125vh;
    z-index: 110;
}

.header__image-phone{
    position: relative;
    left: 25%;
    z-index: 110;
}




@media screen and (max-width: 950px){
    .header__image-phone{
        display: none;
    }

}



@media screen and (max-width: 550px) {

    .header{
        width: 100%;
        height: 650px;
        padding: 0;
        margin:0;
        display: flex;
        flex-direction: column-reverse;
        background-image: url("../../assets/bg-intro-mobile.svg");
        background-position: 40% 0;
        background-repeat: no-repeat;
        background-size: 100%;
        align-items: center;
        
    }
    .header__image-phone{
        top: -2%;
        left:0;
        z-index: 10;
        width: 100%;
        position: relative;
        display: block;

    }



    .header__info{
        width: 80%;
        font-family: var(--font-family);
        padding-left: 0%;
        text-align: center;
        margin-bottom: 2rem;
        
    }

    .header__info p{
        color:hsl(233, 8%, 62%);
        font-size: 15px;

    
    
    }
    
    .header__info h1{
        color:hsl(233, 26%, 24%);
        font-size: 25px;

    
    }

    .header__image-cuadrados-mini{
        position: absolute;
        top: 0;
        right: 0;
    }

    .header__image-cuadrados{
        position: absolute;
        top: 0;
        right: 0;
    }





    
}